#show-card {
  // General Styles
  display: flex;

  #show-image img {
    width: 500px;
  }

  #show-image,
  #show-info {
    margin: 0 1rem;
  }

  #show-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 33%;

    div {
      display: flex;
      align-items: center;
    }
    img {
      height: 20px;
      margin-left: 3px;
    }
  }

  #rating {
    color: goldenrod;
  }

  #genre {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  #summary {
    color: rgb(46, 46, 46);
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  // Small Screens
  @media screen and (max-width: 600px) {
  }

  // Medium Screens
  @media screen and (min-width: 600px) and (max-width: 960px) {
  }

  // Large Screens
  @media screen and (min-width: 960px) {
    padding: 2rem 10rem;
  }
}
