#results-container {
  // General Styles
  #results {
    border: 1px solid lightgray;
    border-radius: 0.25rem;
  }

  #results-header {
    font-size: 1.5rem;
  }

  #titles-header {
    margin: 1rem 0;
    color: goldenrod;
  }

  // Small Screens
  @media screen and (max-width: 600px) {
  }

  // Medium Screens
  @media screen and (max-width: 960px) {
    margin: 1rem;
    #results {
      padding: 0.5rem;
    }
  }

  // Large Screens
  @media screen and (min-width: 960px) {
    padding: 2rem 10rem;

    #results {
      padding: 0.5rem;
    }
  }
}
